*{
	margin: 0 auto;
	padding: 0 auto;
	font-family:calibri,segoe ui,arial,sans-serif;
}
body{
	background-color:#edede1;
}
#wrapper{
	width: 100%;
	margin: 0 auto;
}
#h{
	width: 100%;
	background-image: url("../images/header.jpg");
}
#header{
	width : 1280px;
	height: 80px;
	margin-bottom: 20px;
}
#logoUnej{
	width: 80px;
	height: 80px;
	float: left;
}
.judul{
	margin-left: 195px;
	margin-right: 195px;
	text-align: center;
	color: #ddce00;
	float: left;
}
#logoBem{
	width: 80px;
	height: 80px;
}
#menu{
	width: 1280px;
	height: 40px;
}
.menu{
	list-style: none;
	padding-left: 0px;
	width: 1035px;
	height: 40px;
}
#menu li{
	float: left;
	border: 1px solid gold;
	border-radius: 10px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: white;
}
#menu li a{
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;	
	padding-top : 10px; 
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
#menu li a:hover{
	background-color: #00cffb;
	color: white;
	border-radius: 10px;
}
#content{
	margin-top: 10px;
	padding : 10px 10px 10px 10px;
	width: 1260px;
	background-color: white;
	margin-bottom: 20px;
}
#logoContent{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#isi{
	width: 1000px;
	padding-left: 10px;
	padding-right: 10px;
}
#isi p{
	text-align: center;
}
#isi h3{
	text-align: center;
}
#footer{
	width: 100%
	height: 20px;
	background-color: #282828; 
	color: white;
	text-align: center;
}