*{
	margin: 0;
	padding: 0;
	font-family:calibri,segoe ui,arial,sans-serif;
}
body {	
	background-color: #150034;
	background-image: url("../images/background.jpg");
	background-size: cover;
}
#wrapper{
	width: 100%;
	margin: 0 auto;
}
#header{
	background-image: url("../images/logo unej.png");
	background-repeat: no-repeat;
	background-size: 80px;
	background-position : 10px 5px; 
	width: 1280px;
	height: 100px;
	overflow: hidden;
	margin: 0 auto;
	margin-left: 10px auto;
}
.judul{
	text-align: center;
	color: #ddce00;
}
#content{
	width: 1280px;
	margin: 0 auto;
}
#kiri{
	width: 200px;
	height : 160px;
	position: relative;
	float: left;
	left: 200px;
	top: 150px;
}
a{
	text-decoration: none;
}
#kiri h1{
	color: white;
	margin-top: 40px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
}
#kiri img{
	width: 130px;
	height: 130px;
}
#kiri h3{
	color: white;
	text-align: center;
}
#tengah{
	width: 350px;
	height: 355px;
	position: relative;
	float: left;
	left: 270px;
	top: 50px;
}
#tengah img{
	width: 350px;
	height: 350px;
}
#tengah h3{
	color: white;
	text-align: center;
}
#kanan{
	width: 190px;
	height: 160px;
	position: relative;
	float: left;
	left: 340px;
	top: 150px;
}
#kanan h1{
	color: white;
	float: right;
	margin-top: 40px;
}
#kanan img{	
	width: 130px;
	height: 130px;
	padding-left: 28px;
}
#kanan h3{
	color: white;
	text-align: center;
}